*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(80, 170, 121);
    justify-content: center;
    align-items: center;
}
.box{
    height: 470px;
    width: 580px;
    border-radius: 5px;
    box-shadow: 1px 4px 15px rgb(117, 117, 117);
    background-color: white;
    background-image: url("bicycle.png");
    background-position-y: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 50px
}


/*SIMPLE SECTION*/
.simple{
    display: flex;
    justify-content: space-between;
}
.simple p{
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.profile-icon{
    border: 1px solid rgb(211, 210, 210);
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 5px transparent;
    transition: box-shadow 01s;
}
.profile-icon:hover{
    box-shadow:0px 0px 0px 5px rgb(238, 237, 237);
    transition: 0.5s;
    cursor: pointer;
}
/*MESSAGE SECTION*/
.msg{
    color:rgb(117, 117, 117);
    font-family: calibri;
    font-size: 1em;
    padding: 10px 0 35px 0px;
}

.price1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: flex-end;
}
.price1 p:nth-child(1){
    font-size: 1.25em;
    color: rgb(117, 117, 117);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price1 p:nth-child(2){
    font-size:1.8em;
    font-weight: bold;
}

.price2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: flex-end;
}
.price2 p:nth-child(1){
    font-size: 1.25em;
    color: rgb(117, 117, 117);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price2 p:nth-child(2){
    font-size:1.8em;
    font-weight: bold;
}

.total{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: flex-end;
}
.total p:nth-child(1){
    font-size: 1.6em;
    color: rgb(117, 117, 117);
    font-weight: bold;
    font-family: calibri;
}
.total p:nth-child(2){
    font-size:1.8em;
    font-weight: bold;
}